<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>6</integer>
	<key>db</key>
	<integer>8</integer>
	<key>N_COCOPARK_B1</key>
	<integer>0</integer>
	<key>N_COCOPARK_L1</key>
	<integer>0</integer>
	<key>N_COCOPARK_L2</key>
	<integer>0</integer>
	<key>N_COCOPARK_L3</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_EASTL1</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_EASTL2</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_EASTPARK-1</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_EASTPARK-2</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_WESTL1</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_WESTL2</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_WESTL3</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_WESTPARK-1</key>
	<integer>0</integer>
	<key>N_HAIANCHENG_WESTPARK-2</key>
	<integer>0</integer>
	<key>N_HUANLEHAIAN</key>
	<integer>0</integer>
	<key>N_HUANLEHAIAN_PARK</key>
	<integer>0</integer>
	<key>N_JINGJIBAINA_B1</key>
	<integer>0</integer>
	<key>N_JINGJIBAINA_L1</key>
	<integer>0</integer>
	<key>N_JINGJIBAINA_L2</key>
	<integer>0</integer>
	<key>N_JINGJIBAINA_L3</key>
	<integer>0</integer>
	<key>N_JINGJIBAINA_PARKB1</key>
	<integer>0</integer>
	<key>N_JINGJIBAINA_PARKB1H</key>
	<integer>0</integer>
	<key>N_KKMALL_B1</key>
	<integer>0</integer>
	<key>N_KKMALL_L1</key>
	<integer>0</integer>
	<key>N_KKMALL_L2</key>
	<integer>0</integer>
	<key>N_KKMALL_L3</key>
	<integer>0</integer>
	<key>N_KKMALL_L4</key>
	<integer>0</integer>
	<key>N_KKMALL_PARK-2</key>
	<integer>0</integer>
	<key>N_KKMALL_PARK-3</key>
	<integer>0</integer>
	<key>N_KKMALL_PARKB1J</key>
	<integer>0</integer>
	<key>N_KKMALL_PARKL2J</key>
	<integer>0</integer>
	<key>N_KKMALL_PARKL3J</key>
	<integer>0</integer>
	<key>N_YITIAN_B1</key>
	<integer>0</integer>
	<key>N_YITIAN_B2</key>
	<integer>0</integer>
	<key>N_YITIAN_L2</key>
	<integer>0</integer>
	<key>N_YITIAN_L3</key>
	<integer>0</integer>
	<key>N_YITIAN_PARK_3</key>
	<integer>0</integer>
	<key>N_YIYIAN_L1</key>
	<integer>0</integer>
</dict>
</plist>
